* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: OpenSans;
    z-index: 0;
}
.header {
    position: relative;
    background-color: grey;
    background-image: url(images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 37% 0%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    min-width: 1200px;
    padding-top: 35px;
    padding-bottom: 135px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    max-width: 1200px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 15px;
}
.header-logo {
    width: 185px;
}
.visually-hidden {
    display: inline-block;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}
.menu-list {
    position: relative;
    display: flex;
}
.menu-list-item {
    list-style: none;
}
.menu-list-item:nth-child(n+2) {
    margin-left: 30px;
}
.menu-list-item:hover {
    border-bottom: 2px solid #d5d5d3;
    margin-left: 25px;
}
.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.menu-icon{
    display: none;
}
.h1-text {
    display: inline-block;
    width: 710px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
}
.h1-title {
    color: white;
    font-size: 45px;
    line-height: 75px;
    font-weight: bold;
    text-transform: uppercase;
}
.header::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.trends {
    margin-top: 65px;
}
.trends-cards{
    margin-top: 30px;
    margin-bottom: 65px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.trends-card:after{
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.card-container{
    position: relative;
    display: flex;
    padding: 40px;
    border: solid 1px #877c46;
    margin: 15px;
    flex-direction: column;
}
.trends-list-link{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #b59f5b;
}
.trends-list-link:hover{
    border-bottom: 2px solid #877c46;
}
.trends-card{
    background-size: cover;
    position: relative;
    display: flex;
    width: calc(25% - 3px);
    min-height: 320px;
    flex-direction: column-reverse;
    z-index: 0;
}
.card1 {
    background-image: url(images/trend1.jpg);
}
.card2{
   background-image: url(images/trend2.jpg);
}
.card3{
  background-image: url(images/trend3.jpg);
}
.card4{
  background-image: url(images/trend4.jpg);
}
.trends-title{
    color: white;
    text-decoration: none;
}
.trends-title:hover{
    color: #b59f5b;
}
.page {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 15px;
    justify-content: space-between;
}
.main {
    width: 800px;
}
.main-news {
    display: flex;
    margin-top: 0;
    box-sizing: border-box;
    min-height: 295px;
}
.main-news:nth-child(n + 2) {
    margin-top: 55px;
}
.news-image {
    box-sizing: border-box;
    display: inline-block;
    width: 360px;
    min-height: 290px;
    margin-right: 30px;
}
.news{
    box-sizing: border-box;
}
.section-header {
    margin-bottom: 40px;
}
.section-navigation {
    display: flex;
    flex-wrap: wrap;
}
.tegs-list-item {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}
.tegs-list-item:last-child {
    margin-right: 0;
}
.tegs-list-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #b59f5b;
}
.tegs-list-link:hover {
    border-bottom: 2px solid #d5d5d3;
}
.h-link {
    display: flex;
    margin-top: 12px;
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
}
.header-h-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    width: 370px;
}
.header-h-text:hover {
    color: #b59f5b;
}
.section-footer {
    display: flex;
    flex-wrap: wrap;
}
.post-date-text {
    font-weight: normal;
    font-size: 12px;
    margin-right: 20px;
}
.section-footer-author {
    font-weight: bold;
    font-size: 12px;
}
.news-text {
    margin-top: 40px;
}
.news-paragraph {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0;
}
.news-paragraph:nth-child(n + 2) {
    margin-top: 15px;
}
.page-aside {
    text-align: center;
    width: 275px;
}
.resent-posts-title {
    text-align: center;
}
.resent-posts-title::after {
    content: "";
    display: inline-block;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}
.h2-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;
    text-transform: uppercase;
}
.resent-posts {
    margin-top: 30px;
}
.resent-post {
    display: flex;
}
.resent-post:nth-child(n + 2) {
    margin-top: 25px;
}
.post-img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
}
.post-info{
    width: 180px;
    height: 70px;
}
.post-date {
    text-align: left;
}
.post-date > .post-date-text {
    margin-right: 0;
}
.post-h-text {
    display: inline-block;
    text-align: left;
    width: 185px;
}
.post-h-link{
    display: flex;
    color: black;
    text-decoration: none;
}
.h3-text{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.resent-post-h{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.resent-post-h:hover {
    color: #b59f5b;
}
.search {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    margin-bottom: 60px;
}
.search-field {
    width: 225px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4f7f6;
    border: none;
}
.search-field:focus {
    outline-color: #b59f5b;
}
.search-button {
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    background-image: url(svg/search.svg);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    border: none;
}
.search-button:hover {
    background-color: black;
    cursor: pointer;
}
.email-confirm {
    margin-top: 25px;
    margin-bottom: 60px;
}
.email-field {
    width: 275px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f4f7f6;
    border: none;
}
.email-field:focus {
    outline-color: #b59f5b;
}
.email-confirm-button {
    width: 275px;
    height: 50px;
    margin-top: 15px;
    color: #fff;
    background-color: #b59f5b;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}
.email-confirm-button:hover {
    background-color: black;
    cursor: pointer;
}
.teg-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 60px;
}
.teg {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}
.teg-name {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #eeeeee;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.teg-name:hover {
    border-color: #b59f5b;
}
.theme-name {
    display: inline-block;
    text-decoration: none;
    color: #0d0e0f;
    font-weight: bold;
    font-size: 14px;
    margin-right: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.theme {
    display: flex;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
}
.theme-name:hover {
    color: #b59f5b;
}
.number-of-posts {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-bottom: 20px;
    margin-top: 10px;
}
.handwork-cards{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px 65px;
}
.handwork-card{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 350px;
    margin-top: 30px;
}
.image-container{
    padding: 0 25px;
}
.shop-item-image{
    width:300px;
}
.info-container{
    box-sizing: border-box;
    width:350px;
    min-height:265px;
    flex-grow: 1;
    padding: 50px 25px 70px;
    border: solid 3px #d3c59d;
    margin-top: -35px;
    z-index: 1;
}
.card-title{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.card-text{
    line-height: 22px;
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin-bottom: 20px;
}
.item-link {
    color: #c9b987;
    text-decoration: none;
}
.item-link:hover{
    text-decoration: underline;
}
.costs-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.item-costs{
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
}
.old-cost{
    text-decoration: line-through;
    font-weight: bold;
    font-size: 14px;
}
.actual-cost{
    font-weight: bold;
    font-size: 20px;
}
.shop-button{
    color: #fff;
    background-color: #b59f5b;
    width: 140px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}
.shop-button:hover{
    background-color: black;
    cursor: pointer;
}
.footer {
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.socials {
    box-sizing: border-box;
    display: flex;
    background-color: #eeeeee;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 75px;
}
.socials-container {
    margin-left: auto;
    margin-right: auto;
}
.socials-list {
    display: flex;
    flex-direction: row;
}
.social {
    list-style: none;
    margin-right: 0px;
}
.social:nth-child(n + 2) {
    margin-left: 25px;
}
.social-link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
.social-link-dribbble {
    background-image: url(svg/001-dribbble.svg);
}
.social-link-pinterest {
    background-image: url(svg/001-pinterest.svg);
}
.social-link-tumblr {
    background-image: url(svg/003-tumblr.svg);
}
.copyright-text {
    display: inline-block;
}
.copyright-link {
    text-decoration: none;
    color: #999999;
    font-weight: bold;
    font-size: 12px;
}
.popup-container{
    box-sizing: border-box;
    position: fixed;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.popup-body{
    display:flex;
    flex-direction: column;
}
.popup-close{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("svg/form-x.svg");
    background-size: 16px;
    align-self: end;
}
.popup{
    box-sizing: border-box;
    background-color: white;
    width: 390px;
    font-family:OpenSans;
    padding: 55px 30px;
    margin-top: 10px;
}
.popup-title{
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}
.select-list{
    box-sizing: border-box;
    font-size: 13px;
    width:100%;
    height: 50px;
    background-color: #f4f7f6;
    color:#a5a7a6;
    appearance: none;
    padding: 15px;
    background-image: url(svg/form-arrows.svg);
    background-size: 16px 15px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.select-list:focus{
    outline-color: #b59f5b;
}
.radio-buttons{
    margin-bottom: 15px;
}
.radio-button{
    position: absolute;
    width:1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.radio-button-text::before{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    content: " ";
    background-image:url("svg/form-empty-circle.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.radio-button:checked ~ .radio-button-text::before{
    background-image:url("svg/form-circle.svg");
}
.feedback-field{
    box-sizing: border-box;
    font-size:13px;
    max-width: 330px;
    min-width: 330px;
    min-height: 130px;
    max-height: 200px;
    background-color: #f4f7f6;
    color:#a5a7a6;
    appearance: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
}
.feedback-field:focus{
    outline-color: #b59f5b;
}
@media (max-width: 1200px){
    .header{
        position: relative;
        min-width: 100%;
        padding: 0 5%;
        padding-top: 50px;
    }
    .container{
        width: 100%;
        box-sizing: border-box;
    }
    .menu-list{
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        margin: 0;
        display: none;
        visibility: hidden;
    }
    .menu-list-item{
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        display: none;
        visibility: hidden;
    }
    .menu-link{
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        display: none;
        visibility: hidden;
    }
    .menu-icon{
        display: inline-block;
        width: 32px;
        height: 32px;
        fill: white;
        margin-left: auto;
    }
    .h1-text{
        margin-bottom: 125px;
    }
    .trends-cards{
        margin-bottom: 0;
    }
    .header-h-text{
        width: 100%;
    }
    .page{
        padding: 50px 35px;
        justify-content: space-between;
    }
    .main{
        box-sizing: border-box;
        flex-grow: 1;
        width: calc(70% - 150px);
    }
    .page-aside{
        margin-left: 40px;
    }
    .main-news{
        display: flex;
        flex-direction: column;
    }
    .news-image{
        width: 100%;
        margin-bottom: 20px;
    }
    .email-field{
        width: 100%;
    }
    .email-confirm-button{
        width: 100%;
    }
    .handwork-cards{
        box-sizing: border-box;
        width: 100%;
        padding: 0 30px 50px;
    }
    .handwork-card{
        width: calc(50% - 13px);
    }
    .shop-item-image{
        width: 100%;
    }
    .info-container{
        width: 100%;
    }
    .footer{
        box-sizing: border-box;
        width: 100%;
        padding: 0 30px;
    }
    .socials{
        width: 100%;
    }
}
@media (max-width: 1200px) and (orientation: landscape) {
    .trends-card{
        width: calc(25% - 1px);
    }
}
@media (max-width: 1200px) and (orientation: portrait) {
    .trends-card{
        width: calc(50% - 1px);
        margin-top: 1px;
    }
}
@media (max-width: 640px){
    .header{
        width: 100%;
        box-sizing: border-box;
    }
    .container{
        width: calc(100% - 5px);
        position: relative;
        flex-direction: column-reverse;
        box-sizing: border-box;
    }
    .logo-link{
        position: relative;
    }
    .header-logo{
        position: relative;
        margin: 0 auto;
        margin-top: 185px;
        width: 50%;
        height: 60px;
        align-self: center;
    }
    .menu{
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        display: none;
    }
    .h1-text{
        width: 80%;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 215px;
    }
    .h1-title{
        position: relative;
        font-size: 26px;
        line-height: 36px;
    }
    .trends-card:first-child{
        margin-top: 0;
    }
    .page{
        position: relative;
        width: calc(100% - 30px);
        box-sizing: border-box;
        flex-direction: column;
        padding: 0 15px;
        margin-top: 50px;
    }
    .main{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 45px;
    }
    .page-aside{
        position: relative;
        width:100%;
        margin: 0;
    }
    .resent-posts{
        position: relative;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .resent-post{
        margin: 0 auto;
    }
    .news-image{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        margin: 0;
    }
    .post-info{
        flex-grow: 1;
        text-align: left;
    }
    .post-h-text{
        width: 100%;
        position: relative;
    }
    .search-input{
        flex-grow: 1;
    }
    .search-field{
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    .handwork-card{
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    .popup-container{
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        justify-content: start;
        align-items: start;
        margin: auto;
    }
    .popup-body{
        position: relative;
        width: 100%;
        min-height: calc(60% - 16px);
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 5%;
    }
    .popup-close{
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("svg/form-x.svg");
        background-size: 16px;
        margin-top: 5%;
    }
    .popup{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 30px 20px;
        font-size: 12px;
        box-sizing: border-box;
        flex-shrink: 1;
    }
    .popup-title{
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0;
    }
    .feedback-form{
        position: relative;
        width: 100%;
        min-height: 45vh;
        padding: 0;
        margin-top: 5%;
        flex-shrink: 1;
    }
    .select-list{
        margin-bottom: 5%;
        height: 5vh;
    }
    .feedback-field{
        position: relative;
        min-height: 15vh;
        max-height: 15vh;
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 640px) and (orientation: landscape) {
    .trends-card{
        width: calc(50% - 1px);
        margin-top: 1px;
        box-sizing: border-box;
    }
}
@media (max-width: 640px) and (orientation: portrait) {
    .trends-card{
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
    }
}
